@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family:  "Raleway", sans-serif;
}


.navbar {
    margin-left: 7%;
    margin-right: 7%;
}

.container {
    background-color: black;
}

.quienes_somos {
    color: azure;
    background-color: black;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: black;
}

.QSL {
    background-color: aqua;
}

.card-body {
    background-color: black;
    font-size: large;
}

.card {
    background-color: black;
}

.fa-plane {
    color: azure;
}
.fa-mountain {
    color: azure;
}

.ca_des {
    background-color: aqua;
}

.destacados {
    background-color: black;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.formo {
    background-color: black;
}

.foot {
    background-color: aqua;
}

.fa-solid {
    color: white;
}